.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px;
    width: 70%;
    border-bottom: 1px solid black;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

input[type=checkbox] {
    margin-right: 10px;
}

input[type=checkbox]:focus {
    outline: 0;
}